name: Compile thesis.tex
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          working_directory: ./main
          root_file: thesis.tex
          args: -bibtex
          latexmk_use_lualatex: true
          extra_system_packages: "perl-pdf-api2"
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main/thesis.pdf